ghl-rag-chat.json
{
  "name": "ghl-rag-chat",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        208
      ],
      "id": "47297a5b-1c10-48d9-9068-72aadbfbbee3",
      "name": "When chat message received",
      "webhookId": "f278ceae-e450-4b12-8b88-7b0398b69dc8"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant to help with Go Highlevel. You use the superbase tool to answer the question. Explain the answers  with clear instructions. Use steps , example. Explain it as if you are exaplain it as if your are giving the answer to an 8th grader"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "41330053-8969-478a-a583-b7b2e1bc8434",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        224
      ],
      "id": "0c68e8af-9833-4957-a263-165a8720c80c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        224
      ],
      "id": "b5850846-81bd-425a-930d-7b4544f3b363",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bTFaWpEMLz9V16oS",
          "name": "GHL Charlie"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Get related chunks of the official Go Highlevel documentation.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        384,
        224
      ],
      "id": "5ff1f2fb-35de-4f8a-b977-e27c319a74c2",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Y5ElBesKg7TVOqVe",
          "name": "superiorweb n8n rag v2 "
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        384
      ],
      "id": "0fc62704-8a4d-4a96-a626-285fa2345d15",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "bTFaWpEMLz9V16oS",
          "name": "GHL Charlie"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f511c64b-df9d-4fb1-b0a6-4fd84c0722ba",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -128,
        592
      ],
      "id": "5214905c-48b8-47c4-8edf-e59dc58c276f",
      "name": "Webhook",
      "webhookId": "f511c64b-df9d-4fb1-b0a6-4fd84c0722ba"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant to help with Go Highlevel. You use the superbase tool to answer the question. Explain the answers  with clear instructions. Use steps , example. Explain it as if you are exaplain it as if your are giving the answer to an 8th grader"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        128,
        592
      ],
      "id": "8abda939-df03-436a-90a8-41d9cce8e4df",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        816
      ],
      "id": "27f6ee6e-9f7e-4b69-89ef-23b54e9f5431",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        816
      ],
      "id": "8b1f2f06-11f4-4502-90f4-aa371fdd2864",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "bTFaWpEMLz9V16oS",
          "name": "GHL Charlie"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Get related chunks of the official Go Highlevel documentation.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        352,
        816
      ],
      "id": "282cf728-ed56-4ec9-ae46-7f6b8cc04f6b",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Y5ElBesKg7TVOqVe",
          "name": "superiorweb n8n rag v2 "
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        976
      ],
      "id": "f02ba1e3-7d23-4125-9e69-a6304d9d2f48",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "bTFaWpEMLz9V16oS",
          "name": "GHL Charlie"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        592
      ],
      "id": "4f1065de-db63-41af-b11b-dc8f7f63c7cc",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e8a8fd5-4557-4ebc-860d-897316ce9a1c",
  "meta": {
    "instanceId": "f2cfe575878e5c47f7e72379a85e4d1bd06e596ca217c654e8adbaf41b5240fb"
  },
  "id": "sL4ZE52iar3vFN3Q",
  "tags": []
}